[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0.8"
"argon2-cffi" = "*"
django-compressor = "*"
"psycopg2" = "*"
bcrypt = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-jwt = "*"
voluptuous = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
